@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Source+Sans+Pro:400,400i,900');
html,
body,
#content {
  min-height: 100vh;
}
body,
input {
  font-family: 'Source Sans Pro', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 1rem;
  background: #eff0f2;
}
.transition,
#content,
a,
#discussions,
header,
a.icon-btn .label,
label,
ul.actions > li:hover > ul,
.subnav {
  -webkit-transition: all 0.25s ease-out;
  /* Safari */
  transition: all 0.25s ease-out;
}
.italic {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.2em;
  font-family: Quicksand;
  font-weight: bold;
  line-height: 1.1em;
  max-width: 80%;
}
h1.no-pad,
h2.no-pad,
h3.no-pad,
h4.no-pad,
h5.no-pad,
h6.no-pad {
  margin: 0 !important;
}
h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0.4em;
  margin-top: 1em;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
p {
  line-height: 1.6;
}
.text-left {
  text-align: left !important;
}
a {
  color: #2D9DC1;
}
a:hover {
  color: #572C86;
}
a[class^="btn"] {
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
}
a[class^="btn"]:hover {
  background: #8DC63F;
  color: #fff;
  box-shadow: 2px 3px 16px rgba(0, 0, 0, 0.45);
  border-color: rgba(0, 0, 0, 0);
}
a[class^="btn"]:active {
  box-shadow: none;
  top: 1px;
  left: 1px;
}
a.btn {
  border: solid 1px #d4d7db;
}
a.btn-small {
  background: #572C86;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 0.8rem;
  text-transform: uppercase;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}
a.btn-large {
  background: #572C86;
  color: #fff;
  font-weight: bold;
  padding: 12px 24px;
  font-size: 1.1rem;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
a.btn-cancel {
  font-size: 0.9em;
  padding: 10px 15px;
  color: #727579;
  margin: 0 5px;
  text-transform: uppercase;
}
a.btn-cancel i {
  font-size: 0.8em;
}
.form-actions {
  border-top: solid 1px #d4d7db;
  margin-top: 2rem;
  padding: 1rem 0;
}

/*# sourceMappingURL=main.css.map */