@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Source+Sans+Pro:400,400i,900');

// Colors
@purple: 		#572C86;
@green:			#8DC63F;
@blue:			#2D9DC1;
@link-color:	#2D9DC1;
@border-gray:	#d4d7db;

// Variables
@br:				5px;
@br-large:		8px;
@font-headline: 'Quicksand';
@font-body:		'Source Sans Pro';
@transition-default:	0.4s;
@transition-fast:	0.25s;
@shadow-light:		1px 2px 8px rgba(0,0,0,0.3);
@shadow-medium:	2px 3px 16px rgba(0,0,0,0.45);


// Body

html, body, #content {
	min-height: 100vh;
}
body, input {
	font-family: @font-body, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1rem;
	background: #eff0f2;
}


// Animations

.transition, #content, a, #discussions, header,
a.icon-btn .label, label,
ul.actions > li:hover > ul, .subnav {
	-webkit-transition: 	all @transition-fast ease-out; /* Safari */
    transition: 			all @transition-fast ease-out;
}


// Fonts

.italic { font-style: italic; }

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.2em; 
	font-family: Quicksand;
	font-weight: bold;
	line-height: 1.1em;
	max-width: 80%;
	
	&.no-pad { margin: 0 !important; }
}
h1 { font-size: 2.4rem;	margin-bottom: 0.5em; margin-top: 1em;  }
h2 { font-size: 2rem;	margin-bottom: 0.4em; margin-top: 1em;   }
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.8rem; text-transform: uppercase; }
h6 { font-size: 0.8rem; text-transform: uppercase; }


p {
	line-height: 1.6;
}
.text-left {
	text-align: left !important;
}


// Links

a {
	color: @blue;
	
	&:hover {
		color: @purple;
	}
}


// Buttons

a[class^="btn"] {
	text-decoration: none;	
	display: inline-block;
	border-radius: @br;
	padding: 5px 10px;
	
	&:hover {
		background: @green;
		color: #fff;
		box-shadow: @shadow-medium;
		border-color: rgba(0,0,0,0);
	}
	&:active {
		box-shadow: none;
		top: 1px;
		left: 1px;
	}
}
a.btn {
	border: solid 1px @border-gray;
	
	&-icon {
		
	}
	&-small {
		background: @purple;
		color: #fff;
		font-weight:  bold;
		padding: 8px 16px;
		font-size: 0.8rem;
		text-transform: uppercase;
		box-shadow: @shadow-light;
	}
	&-large {
		background: @purple;
		color: #fff;
		font-weight:  bold;
		padding: 12px 24px;
		font-size: 1.1rem;
		box-shadow: @shadow-light;
		border-radius: @br-large;
	}
	&-cancel {
		font-size: 0.9em;
		padding: 10px 15px;
		color: #727579;
		margin: 0 5px;
		text-transform: uppercase;
		
		i { font-size: 0.8em; }
	}
}


// Forms

.form-actions {
	border-top: solid 1px @border-gray;
	margin-top: 2rem;
	padding: 1rem 0;
}